{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Cabify S/A<br />
    Rua Hungria, 1240<br />
    <abbr title="Telefone">Tel:</abbr>
    011 98447-3526
</address>

<address>
    <strong>Lucas Lima:</strong>   <a href="mailto:Suporte@cabify.com">lucas.lima@cabify.com</a><br />
    <strong>Samuel Tavares:</strong> <a href="mailto:Marketing@cabify.com">samuel.tavares@cabify.com</a>
    <strong>Adriano Angelo:</strong> <a href="mailto:Marketing@cabify.com">adriano.angelo@cabify.com</a>
    <strong>Samuel Silva:</strong> <a href="mailto:Marketing@cabify.com">samuel.silva@cabify.com</a>    
    <strong>Fabricio Batista:</strong> <a href="mailto:Marketing@cabify.com">fabricio.batista@cabify.com</a>  
    <strong>Thiago Fogo:</strong> <a href="mailto:Marketing@cabify.com">thiago.fogo@cabify.com</a>    
    
    
</address>

{% endblock %}
